<div class="container text-center bg-white mt-5 border-r15">
  <main class="form-signin w-75 m-auto shadow">

    <div class="table-responsive p-3" *ngIf="mostrarTabla">
      <h1 class="h3 mb-1 fw-normal p-3 fw-6">Listado de Personas</h1>
      <table class="table table-responsive">
        <thead class="bg-dark text-white">
          <tr>
            <th>#</th>
            <th>Tipo Id</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of listadoPersonas;let i = index">
            <td>{{i + 1}}</td>
            <td>{{persona.tipoId}}</td>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.direccion}}</td>
            <td>
              <div class="d-flex">
                <a class="btn btn-success m-auto" title="Editar" (click)="editarPersona(persona)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </a>
                <a class="btn btn-danger" title="Eliminar" (click)="eliminarPersona(persona)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </a>

              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <button class="w-75 btn btn-lg btn-primary m-auto" type="submit" (click)="crearPersona()">Registrar
          Nuevo</button>
      </div>
    </div>

    <!--  -->
    <div class="container text-center mb-5" *ngIf="!mostrarTabla">
      <main class="form-signin w-75 m-auto">
        <form>
          <h1 class="h3 mb-3 fw-normal p-3 fw-6" *ngIf="tituloRegistrar">Registrar Persona</h1>
          <h1 class="h3 mb-3 fw-normal p-3 fw-6" *ngIf="!tituloRegistrar">Editar Persona</h1>

          <div class="row mb-3">

            <div class="col-md-6">
              <label for="tipoId" class="form-label">Tipo Id</label>
              <select class="form-select" name="tipoId" [(ngModel)]="formData.tipoId" required>
                <option value="" disabled>Seleccionar
                <option *ngFor="let tipo of listadoTipoId;let i = index" value="{{tipo.tipoId}}">{{tipo.descripcion}}
                </option>
              </select>
            </div>

            <div class="col-sm-6">
              <label for="id" class="form-label">Identificación</label>
              <input type="number" class="form-control" name="id" [(ngModel)]="formData.id">
            </div>
          </div>

          <div class="row mb-3">

            <div class="col-sm-3">
              <label for="Nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="Nombre" [(ngModel)]="formData.nombre">
            </div>
            <div class="col-sm-3">
              <label for="Apellidos" class="form-label">Apellidos</label>
              <input type="text" class="form-control" name="Apellidos" [(ngModel)]="formData.apellidos">
            </div>
            <div class="col-sm-3">
              <label for="Edad" class="form-label">Edad</label>
              <input type="number" class="form-control" name="Edad" [(ngModel)]="formData.edad">
            </div>
            <div class="col-sm-3">
              <label for="Telefono" class="form-label">Telefono</label>
              <input type="number" class="form-control" name="Telefono" [(ngModel)]="formData.telefono">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-12">
              <label for="Direccion" class="form-label">Direccion</label>
              <input type="text" class="form-control" name="Direccion" [(ngModel)]="formData.direccion">
            </div>
          </div>

          <div class="row pb-5">
            <button class="w-25 m-auto btn btn-lg btn-danger mt-4" type="submit"
              (click)="mostrarTabla=true">Volver</button>
            <button class="w-25 m-auto btn btn-lg btn-primary mt-4" type="submit" *ngIf="tituloRegistrar"
              (click)="guardarPersona()">Guardar</button>
            <button class="w-25 m-auto btn btn-lg btn-primary mt-4" type="submit" *ngIf="!tituloRegistrar"
              (click)="actualizarPersona()">Actualizar</button>
          </div>
        </form>
      </main>
    </div>

    <!--  -->

  </main>
</div>
